<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1047237853852-ddm0s9mnii43tcjr3l9dhm46eg0g0q44.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1047237853852-ddm0s9mnii43tcjr3l9dhm46eg0g0q44</string>
	<key>API_KEY</key>
	<string>AIzaSyBip6FLZRFaID6WEx3FrrB2EpqEcgI14qs</string>
	<key>GCM_SENDER_ID</key>
	<string>1047237853852</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mx.chocomart.app</string>
	<key>PROJECT_ID</key>
	<string>chocomart-mx</string>
	<key>STORAGE_BUCKET</key>
	<string>chocomart-mx.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1047237853852:ios:def945b7548e78ad63e359</string>
	<key>DATABASE_URL</key>
	<string>https://chocomart-mx.firebaseio.com</string>
</dict>
</plist>